lib/usaepay.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated painstakingly by hand -->

<definitions name="usaepay" targetNamespace="urn:usaepay" xmlns:typens="urn:usaepay" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:usaepay">
			<xsd:complexType name="ueSecurityToken">
				<xsd:all>
					<xsd:element name="ClientIP" type="xsd:string"/>					
					<xsd:element name="PinHash" type="typens:ueHash"/>
					<xsd:element name="SourceKey" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CustomerObject">
				<xsd:all>
					<xsd:element name="Amount" type="xsd:double"/>
					<xsd:element name="BillingAddress" type="typens:Address"/>
					<xsd:element name="CustNum" type="xsd:string"/>
					<xsd:element name="CheckData" type="typens:CheckData"/>
					<xsd:element name="CreditCardData" type="typens:CreditCardData"/>					
					<xsd:element name="CustomData" type="xsd:string"/>
					<xsd:element name="CustomerID" type="xsd:string"/>
					<xsd:element name="Description" type="xsd:string"/>
					<xsd:element name="Enabled" type="xsd:boolean"/>
					<xsd:element name="NumLeft" type="xsd:integer"/>
					<xsd:element name="Next" type="xsd:string"/>
					<xsd:element name="Notes" type="xsd:string"/>
					<xsd:element name="NumLeft" type="xsd:integer"/>
					<xsd:element name="OrderID" type="xsd:string"/>
					<xsd:element name="ReceiptNote" type="xsd:string"/>
					<xsd:element name="Schedule" type="xsd:string"/>
					<xsd:element name="SendReceipt" type="xsd:boolean"/>
					<xsd:element name="Source" type="xsd:string"/>
					<xsd:element name="User" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PaymentMethod">
				<xsd:all>
					<xsd:element name="CheckData" type="typens:CheckData"/>
					<xsd:element name="CreditCardData" type="typens:CreditCardData"/>
					<xsd:element name="Expires" type="xsd:string"/>
					<xsd:element name="MethodID" type="xsd:integer"/>
					<xsd:element name="MethodName" type="xsd:string"/>
					<xsd:element name="SecondarySort" type="xsd:integer"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="MerchantApplicationObject">
				<xsd:all>
					<xsd:element name="AltEmail" type="xsd:string"/>
					<xsd:element name="billing_Account" type="xsd:string"/>
					<xsd:element name="billing_Bank" type="xsd:string"/>
					<xsd:element name="billing_Routing" type="xsd:string"/>
					<xsd:element name="City" type="xsd:string"/>
					<xsd:element name="Company" type="xsd:string"/>
					<xsd:element name="Contact" type="xsd:string"/>
					<xsd:element name="Country" type="xsd:string"/>
					<xsd:element name="Email" type="xsd:string"/>
					<xsd:element name="Fax" type="xsd:string"/>
					<xsd:element name="fdms_MerchantID" type="xsd:string"/>
					<xsd:element name="fdms_MerchNum" type="xsd:string"/>
					<xsd:element name="fdms_TerminalID" type="xsd:string"/>
					<xsd:element name="Industry" type="xsd:string"/>
					<xsd:element name="MobilePhone" type="xsd:string"/>
					<xsd:element name="paytech_Client" type="xsd:string"/>
					<xsd:element name="paytech_MerchID" type="xsd:string"/>
					<xsd:element name="paytech_TermID" type="xsd:string"/>
					<xsd:element name="Phone" type="xsd:string"/>
					<xsd:element name="Platform" type="xsd:string"/>
					<xsd:element name="ResellerEmail" type="xsd:string"/>
					<xsd:element name="State" type="xsd:string"/>
					<xsd:element name="Street" type="xsd:string"/>
					<xsd:element name="Street2" type="xsd:string"/>
					<xsd:element name="Url" type="xsd:string"/>
					<xsd:element name="vc_MEN" type="xsd:string"/>
					<xsd:element name="vc_MID" type="xsd:string"/>
					<xsd:element name="vc_MPA" type="xsd:string"/>
					<xsd:element name="vc_Password" type="xsd:string"/>
					<xsd:element name="vital_Agent" type="xsd:string"/>
					<xsd:element name="vital_Bin" type="xsd:string"/>
					<xsd:element name="vital_Chain" type="xsd:string"/>
					<xsd:element name="vital_CityCode" type="xsd:string"/>
					<xsd:element name="vital_Mcc" type="xsd:string"/>
					<xsd:element name="vital_MerchCity" type="xsd:string"/>
					<xsd:element name="vital_MerchName" type="xsd:string"/>
					<xsd:element name="vital_MerchState" type="xsd:string"/>
					<xsd:element name="vital_Sid" type="xsd:string"/>
					<xsd:element name="vital_Tid" type="xsd:string"/>
					<xsd:element name="Zip" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="doubleArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:double[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="CurrencyConversionArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:CurrencyConversion[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TransactionResponse">
				<xsd:all>
					<xsd:element name="AcsUrl" type="xsd:string"/>
					<xsd:element name="AuthCode" type="xsd:string"/>
					<xsd:element name="AvsResult" type="xsd:string"/>
					<xsd:element name="AvsResultCode" type="xsd:string"/>
					<xsd:element name="BatchNum" type="xsd:integer"/>
					<xsd:element name="CardCodeResult" type="xsd:string"/>
					<xsd:element name="CardCodeResultCode" type="xsd:string"/>
					<xsd:element name="ConversionRate" type="xsd:double"/>
					<xsd:element name="ConvertedAmount" type="xsd:double"/>
					<xsd:element name="ConvertedAmountCurrency" type="xsd:string"/>
					<xsd:element name="CustNum" type="xsd:integer"/>
					<xsd:element name="Error" type="xsd:string"/>
					<xsd:element name="ErrorCode" type="xsd:integer"/>
					<xsd:element name="isDuplicate" type="xsd:boolean"/>
					<xsd:element name="Payload" type="xsd:string"/>
					<xsd:element name="RefNum" type="xsd:integer"/>
					<xsd:element name="Result" type="xsd:string"/>
					<xsd:element name="ResultCode" type="xsd:string"/>
					<xsd:element name="VpasResultCode" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="stringArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="BatchUploadStatus">
				<xsd:all>
					<xsd:element name="Approved" type="xsd:integer"/>
					<xsd:element name="BatchNum" type="xsd:integer"/>
					<xsd:element name="Declined" type="xsd:integer"/>
					<xsd:element name="Errors" type="xsd:integer"/>
					<xsd:element name="Finished" type="xsd:string"/>
					<xsd:element name="Remaining" type="xsd:integer"/>
					<xsd:element name="Started" type="xsd:string"/>
					<xsd:element name="Status" type="xsd:string"/>
					<xsd:element name="Transactions" type="xsd:integer"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CurrencyConversion">
				<xsd:all>
					<xsd:element name="Amount" type="xsd:double"/>
					<xsd:element name="Currency" type="xsd:integer"/>
					<xsd:element name="FromAmount" type="xsd:double"/>
					<xsd:element name="FromCurrency" type="xsd:integer"/>
					<xsd:element name="Rate" type="xsd:double"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="AccountDetails">
				<xsd:all>
					<xsd:element name="CardholderAuthentication" type="xsd:string"/>
					<xsd:element name="CheckPlatform" type="xsd:string"/>
					<xsd:element name="CreditCardPlatform" type="xsd:string"/>
					<xsd:element name="Industry" type="xsd:string"/>
					<xsd:element name="SupportedCurrencies" type="typens:CurrencyObjectArray"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CurrencyObjectArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:CurrencyObject[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="BatchStatus">
				<xsd:all>
					<xsd:element name="BatchNum" type="xsd:integer"/>
					<xsd:element name="Closed" type="xsd:string"/>
					<xsd:element name="CreditsAmount" type="xsd:double"/>
					<xsd:element name="CreditsCount" type="xsd:integer"/>
					<xsd:element name="NetAmount" type="xsd:double"/>
					<xsd:element name="Opened" type="xsd:string"/>
					<xsd:element name="SalesAmount" type="xsd:double"/>
					<xsd:element name="SalesCount" type="xsd:integer"/>
					<xsd:element name="Scheduled" type="xsd:string"/>
					<xsd:element name="Sequence" type="xsd:integer"/>
					<xsd:element name="Status" type="xsd:string"/>
					<xsd:element name="TransactionCount" type="xsd:integer"/>
					<xsd:element name="VoidsAmount" type="xsd:double"/>
					<xsd:element name="VoidsCount" type="xsd:integer"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="TransactionObjectArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:TransactionObject[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TransactionSearchResult">
				<xsd:all>
					<xsd:element name="AuthOnlyAmount" type="xsd:float"/>
					<xsd:element name="AuthOnlyCount" type="xsd:integer"/>
					<xsd:element name="CreditsAmount" type="xsd:float"/>
					<xsd:element name="CreditsCount" type="xsd:integer"/>
					<xsd:element name="DeclinesAmount" type="xsd:float"/>
					<xsd:element name="DeclinesCount" type="xsd:integer"/>
					<xsd:element name="ErrorsAmount" type="xsd:float"/>
					<xsd:element name="ErrorsCount" type="xsd:integer"/>
					<xsd:element name="Limit" type="xsd:integer"/>
					<xsd:element name="SalesAmount" type="xsd:float"/>
					<xsd:element name="SalesCount" type="xsd:integer"/>
					<xsd:element name="StartIndex" type="xsd:integer"/>
					<xsd:element name="Transactions" type="typens:TransactionObjectArray"/>
					<xsd:element name="TransactionsMatched" type="xsd:integer"/>
					<xsd:element name="TransactionsReturned" type="xsd:integer"/>
					<xsd:element name="VoidsAmount" type="xsd:float"/>
					<xsd:element name="VoidsCount" type="xsd:integer"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="MerchantObject">
				<xsd:all>
					<xsd:element name="City" type="xsd:string"/>
					<xsd:element name="Company" type="xsd:string"/>
					<xsd:element name="Contact" type="xsd:string"/>
					<xsd:element name="Country" type="xsd:string"/>
					<xsd:element name="Email" type="xsd:string"/>
					<xsd:element name="Fax" type="xsd:string"/>
					<xsd:element name="MerchID" type="xsd:integer"/>
					<xsd:element name="Phone" type="xsd:string"/>
					<xsd:element name="State" type="xsd:string"/>
					<xsd:element name="Street" type="xsd:string"/>
					<xsd:element name="Street2" type="xsd:string"/>
					<xsd:element name="Zip" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="MerchantSummaryObject">
				<xsd:all>
					<xsd:element name="CheckRefundsAmount" type="xsd:double"/>
					<xsd:element name="CheckRefundsCount" type="xsd:integer"/>
					<xsd:element name="CheckSalesAmount" type="xsd:double"/>
					<xsd:element name="CheckSalesCount" type="xsd:integer"/>
					<xsd:element name="CreditsAmount" type="xsd:double"/>
					<xsd:element name="CreditsCount" type="xsd:integer"/>
					<xsd:element name="DeclinesAmount" type="xsd:double"/>
					<xsd:element name="DeclinesCount" type="xsd:integer"/>
					<xsd:element name="MerchantID" type="xsd:integer"/>
					<xsd:element name="MerchantName" type="xsd:string"/>
					<xsd:element name="SalesAmount" type="xsd:double"/>
					<xsd:element name="SalesCount" type="xsd:integer"/>
					<xsd:element name="VoidsAmount" type="xsd:double"/>
					<xsd:element name="VoidsCount" type="xsd:integer"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="TransactionObject">
				<xsd:all>
					<xsd:element name="AccountHolder" type="xsd:string"/>
					<xsd:element name="BillingAddress" type="typens:Address"/>
					<xsd:element name="CheckData" type="typens:CheckData"/>
					<xsd:element name="CheckTrace" type="typens:CheckTrace"/>
					<xsd:element name="ClientIP" type="xsd:string"/>
					<xsd:element name="CreditCardData" type="typens:CreditCardData"/>
					<xsd:element name="CustomerID" type="xsd:string"/>
					<xsd:element name="DateTime" type="xsd:string"/>
					<xsd:element name="Details" type="typens:TransactionDetail"/>
					<xsd:element name="Response" type="typens:TransactionResponse"/>
					<xsd:element name="ServerIP" type="xsd:string"/>
					<xsd:element name="ShippingAddress" type="typens:Address"/>
					<xsd:element name="Source" type="xsd:string"/>
					<xsd:element name="Status" type="xsd:string"/>
					<xsd:element name="TransactionType" type="xsd:string"/>
					<xsd:element name="User" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="FieldValueArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:FieldValue[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="TransactionRequestObject">
				<xsd:all>
					<xsd:element name="AccountHolder" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AuthCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="BillingAddress" type="typens:Address" minOccurs="0"/>
					<xsd:element name="CheckData" type="typens:CheckData" minOccurs="0"/>
					<xsd:element name="ClientIP" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Command" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CreditCardData" type="typens:CreditCardData" minOccurs="0"/>
					<xsd:element name="CustomerID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CustReceipt" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="Details" type="typens:TransactionDetail"/>
					<xsd:element name="IgnoreDuplicate" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="RecurringBilling" type="typens:RecurringBilling" minOccurs="0"/>
					<xsd:element name="RefNum" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ShippingAddress" type="typens:Address" minOccurs="0"/>
					<xsd:element name="Software" type="xsd:string" minOccurs="0"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="TransactionDetail">
				<xsd:all>
					<xsd:element name="Amount" type="xsd:double" minOccurs="0"/>
					<xsd:element name="Clerk" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Currency" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Discount" type="xsd:double" minOccurs="0"/>
					<xsd:element name="Invoice" type="xsd:string" minOccurs="0"/>
					<xsd:element name="NonTax" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="OrderID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="PONum" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Shipping" type="xsd:double" minOccurs="0"/>
					<xsd:element name="Subtotal" type="xsd:double" minOccurs="0"/>
					<xsd:element name="Table" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Tax" type="xsd:double" minOccurs="0"/>
					<xsd:element name="Terminal" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Tip" type="xsd:double" minOccurs="0"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="BatchSearchResult">
				<xsd:all>
					<xsd:element name="Batches" type="typens:BatchStatusArray"/>
					<xsd:element name="BatchesMatched" type="xsd:integer"/>
					<xsd:element name="BatchesReturned" type="xsd:integer"/>
					<xsd:element name="Limit" type="xsd:integer"/>
					<xsd:element name="StartIndex" type="xsd:integer"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CustomerSearchResult">
				<xsd:all>
					<xsd:element name="Customers" type="typens:CustomerObjectArray"/>
					<xsd:element name="CustomersMatched" type="xsd:integer"/>
					<xsd:element name="CustomersReturned" type="xsd:integer"/>
					<xsd:element name="Limit" type="xsd:integer"/>
					<xsd:element name="StartIndex" type="xsd:integer"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="MerchantSearchResult">
				<xsd:all>
					<xsd:element name="Limit" type="xsd:integer"/>
					<xsd:element name="Merchants" type="typens:MerchantObjectArray"/>
					<xsd:element name="MerchantsMatched" type="xsd:integer"/>
					<xsd:element name="MerchantsReturn" type="xsd:integer"/>
					<xsd:element name="StartIndex" type="xsd:integer"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ueHash">
				<xsd:all>
					<xsd:element name="HashValue" type="xsd:string"/>
					<xsd:element name="Seed" type="xsd:string"/>
					<xsd:element name="Type" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Address">
				<xsd:all>
					<xsd:element name="City" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Company" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Country" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Email" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
					<xsd:element name="FirstName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="LastName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Phone" type="xsd:string" minOccurs="0"/>
					<xsd:element name="State" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Street" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Street2" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Zip" type="xsd:string" minOccurs="0"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PaymentMethodArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:PaymentMethod[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="CheckData">
				<xsd:all>
					<xsd:element name="Account" type="xsd:string"/>
					<xsd:element name="CheckNumber" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="DriversLicense" type="xsd:string" minOccurs="0"/>
					<xsd:element name="DriversLicenseState" type="xsd:string" minOccurs="0"/>
					<xsd:element name="RecordType" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Routing" type="xsd:string"/>
					<xsd:element name="SSN" type="xsd:string" minOccurs="0"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CreditCardData">
				<xsd:all>
					<xsd:element name="AvsStreet" type="xsd:string" minOccurs="0"/>
					<xsd:element name="AvsZip" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CardCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CardExpiration" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CardNumber" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CardPresent" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="CardType" type="xsd:string" minOccurs="0"/>
					<xsd:element name="CAVV" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ECI" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="InternalCardAuth" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="MagStripe" type="xsd:string" minOccurs="0"/>
					<xsd:element name="MagSupport" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Pares" type="xsd:string" minOccurs="0"/>
					<xsd:element name="TermType" type="xsd:string" minOccurs="0"/>
					<xsd:element name="XID" type="xsd:string" minOccurs="0"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CurrencyObject">
				<xsd:all>
					<xsd:element name="Currency" type="xsd:string"/>
					<xsd:element name="DecimalPlaces" type="xsd:integer"/>
					<xsd:element name="NumericCode" type="xsd:integer"/>
					<xsd:element name="Rate" type="xsd:double"/>
					<xsd:element name="TextCode" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CheckTrace">
				<xsd:all>
					<xsd:element name="BankNote" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Effective" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Processed" type="xsd:string" minOccurs="0" />
					<xsd:element name="Returned" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Settled" type="xsd:string" minOccurs="0" />
					<xsd:element name="TrackingNum" type="xsd:string" minOccurs="0"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="FieldValue">
				<xsd:all>
					<xsd:element name="Field" type="xsd:string"/>
					<xsd:element name="Value" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="RecurringBilling">
				<xsd:all>
					<xsd:element name="Amount" type="xsd:double"/>
					<xsd:element name="Enabled" type="xsd:boolean"/>
					<xsd:element name="Expire" type="xsd:string" minOccurs="0"/>
					<xsd:element name="Next" type="xsd:string"/>
					<xsd:element name="NumLeft" type="xsd:integer"/>
					<xsd:element name="Schedule" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="BatchStatusArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:BatchStatus[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="CustomerObjectArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:CustomerObject[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="MerchantObjectArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:MerchantObject[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SearchParam">
				<xsd:all>
					<xsd:element name="Field" type="xsd:string"/>
					<xsd:element name="Type" type="xsd:string"/>
					<xsd:element name="Value" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SearchParamArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:SearchParam[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			
		</xsd:schema>
	</types>
	<message name="addCustomer">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="CustomerData" type="typens:CustomerObject"/>
	</message>
	<message name="addCustomerResponse">
		<part name="addCustomerReturn" type="xsd:integer"/>
	</message>
	<message name="addCustomerPaymentMethod">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="CustNum" type="xsd:integer"/>
		<part name="PaymentMethod" type="typens:PaymentMethod"/>
		<part name="MakeDefault" type="xsd:boolean"/>
		<part name="Verify" type="xsd:boolean"/>
	</message>
	<message name="addCustomerPaymentMethodResponse">
		<part name="addCustomerPaymentMethodReturn" type="xsd:integer"/>
	</message>
	<message name="addMerchantApplication">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Application" type="typens:MerchantApplicationObject"/>
	</message>
	<message name="addMerchantApplicationResponse">
		<part name="addMerchantApplicationReturn" type="xsd:integer"/>
	</message>
	<message name="bulkCurrencyConversion">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="FromCurrency" type="xsd:string"/>
		<part name="ToCurrency" type="xsd:string"/>
		<part name="Amounts" type="typens:doubleArray"/>
	</message>
	<message name="bulkCurrencyConversionResponse">
		<part name="bulkCurrencyConversionReturn" type="typens:CurrencyConversionArray"/>
	</message>
	<message name="captureTransaction">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="RefNum" type="xsd:integer"/>
		<part name="Amount" type="xsd:double"/>
	</message>
	<message name="captureTransactionResponse">
		<part name="captureTransactionReturn" type="typens:TransactionResponse"/>
	</message>
	<message name="closeBatch">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="BatchNum" type="xsd:integer"/>
	</message>
	<message name="closeBatchResponse">
		<part name="closeBatchReturn" type="xsd:boolean"/>
	</message>
	<message name="createBatchUpload">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="FileName" type="xsd:string"/>
		<part name="AutoStart" type="xsd:boolean"/>
		<part name="Format" type="xsd:string"/>
		<part name="Encoding" type="xsd:string"/>
		<part name="Fields" type="typens:stringArray"/>
		<part name="Data" type="xsd:string"/>
		<part name="OverrideDuplicates" type="xsd:boolean"/>
	</message>
	<message name="createBatchUploadResponse">
		<part name="createBatchUploadReturn" type="typens:BatchUploadStatus"/>
	</message>
	<message name="currencyConversion">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="FromCurrency" type="xsd:integer"/>
		<part name="ToCurrency" type="xsd:integer"/>
		<part name="Amount" type="xsd:double"/>
	</message>
	<message name="currencyConversionResponse">
		<part name="currencyConversionReturn" type="typens:CurrencyConversion"/>
	</message>
	<message name="deleteCustomer">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="CustNum" type="xsd:integer"/>
	</message>
	<message name="deleteCustomerResponse">
		<part name="deleteCustomerReturn" type="xsd:boolean"/>
	</message>
	<message name="deleteCustomerPaymentMethod">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Custnum" type="xsd:integer"/>
		<part name="PaymentMethodID" type="xsd:integer"/>
	</message>
	<message name="deleteCustomerPaymentMethodResponse">
		<part name="deleteCustomerPaymentMethodReturn" type="xsd:boolean"/>
	</message>
	<message name="deleteMerchant">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="MerchantID" type="xsd:integer"/>
		<part name="Reason" type="xsd:string"/>
	</message>
	<message name="deleteMerchantResponse">
		<part name="deleteMerchantReturn" type="xsd:boolean"/>
	</message>
	<message name="disableCustomer">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="CustNum" type="xsd:integer"/>
	</message>
	<message name="disableCustomerResponse">
		<part name="disableCustomerReturn" type="xsd:boolean"/>
	</message>
	<message name="enableCustomer">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="CustNum" type="xsd:integer"/>
	</message>
	<message name="enableCustomerResponse">
		<part name="enableCustomerReturn" type="xsd:boolean"/>
	</message>
	<message name="getAccountDetails">
		<part name="Token" type="typens:ueSecurityToken"/>
	</message>
	<message name="getAccountDetailsResponse">
		<part name="getAccountDetailsReturn" type="typens:AccountDetails"/>
	</message>
	<message name="getBatchStatus">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="BatchNum" type="xsd:integer"/>
	</message>
	<message name="getBatchStatusResponse">
		<part name="getBatchStatusReturn" type="typens:BatchStatus"/>
	</message>
	<message name="getBatchTransactions">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="BatchNum" type="xsd:integer"/>
	</message>
	<message name="getBatchTransactionsResponse">
		<part name="getBatchTransactionsReturn" type="typens:TransactionObjectArray"/>
	</message>
	<message name="getBatchUploadStatus">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="BatchNum" type="xsd:integer"/>
	</message>
	<message name="getBatchUploadStatusResponse">
		<part name="getBatchUploadStatusReturn" type="typens:BatchUploadStatus"/>
	</message>
	<message name="getCustomer">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="CustNum" type="xsd:integer"/>
	</message>
	<message name="getCustomerResponse">
		<part name="getCustomerReturn" type="typens:CustomerObject"/>
	</message>
	<message name="getCustomerHistory">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="CustNum" type="xsd:integer"/>
	</message>
	<message name="getCustomerHistoryResponse">
		<part name="getCustomerHistoryReturn" type="typens:TransactionSearchResult"/>
	</message>
	<message name="getMerchant">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="MerchantID" type="xsd:integer"/>
	</message>
	<message name="getMerchantResponse">
		<part name="getMerchantReturn" type="typens:MerchantObject"/>
	</message>
	<message name="getMerchantApplicationStatus">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="ApplicationID" type="xsd:integer"/>
	</message>
	<message name="getMerchantApplicationStatusResponse">
		<part name="getMerchantApplicationStatusReturn" type="xsd:string"/>
	</message>
	<message name="getMerchantSummary">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="MerchantID" type="xsd:integer"/>
		<part name="Start" type="xsd:string"/>
		<part name="End" type="xsd:string"/>
	</message>
	<message name="getMerchantSummaryResponse">
		<part name="getMerchantSummaryReturn" type="typens:MerchantSummaryObject"/>
	</message>
	<message name="getSupportedCurrencies">
		<part name="Token" type="typens:ueSecurityToken"/>
	</message>
	<message name="getSupportedCurrenciesResponse">
		<part name="getSupportedCurrenciesReturn" type="typens:CurrencyObjectArray"/>
	</message>
	<message name="getTransaction">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="RefNum" type="xsd:integer"/>
	</message>
	<message name="getTransactionResponse">
		<part name="getTransactionReturn" type="typens:TransactionObject"/>
	</message>
	<message name="getTransactionCustom">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="RefNum" type="xsd:integer"/>
		<part name="Fields" type="typens:stringArray"/>
	</message>
	<message name="getTransactionCustomResponse">
		<part name="getTransactionCustomReturn" type="typens:FieldValueArray"/>
	</message>
	<message name="getTransactionReport">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="StartDate" type="xsd:string"/>
		<part name="EndDate" type="xsd:string"/>
		<part name="Report" type="xsd:string"/>
		<part name="Format" type="xsd:string"/>
	</message>
	<message name="getTransactionReportResponse">
		<part name="getTransactionReportReturn" type="xsd:string"/>
	</message>
	<message name="getTransactionStatus">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="RefNum" type="xsd:integer"/>
	</message>
	<message name="getTransactionStatusResponse">
		<part name="getTransactionStatusReturn" type="typens:TransactionResponse"/>
	</message>
	<message name="pauseBatchUpload">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="BatchNum" type="xsd:integer"/>
	</message>
	<message name="pauseBatchUploadResponse">
		<part name="pauseBatchUploadReturn" type="xsd:boolean"/>
	</message>
	<message name="postAuth">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Params" type="typens:TransactionRequestObject"/>
	</message>
	<message name="postAuthResponse">
		<part name="postAuthReturn" type="typens:TransactionResponse"/>
	</message>
	<message name="quickUpdateCustomer">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="CustNum" type="xsd:integer"/>
		<part name="UpdateData" type="typens:FieldValueArray"/>
	</message>
	<message name="quickUpdateCustomerResponse">
		<part name="quickUpdateCustomerReturn" type="xsd:boolean"/>
	</message>
	<message name="runBatchUpload">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="BatchNum" type="xsd:integer"/>
	</message>
	<message name="runBatchUploadResponse">
		<part name="runBatchUploadReturn" type="xsd:boolean"/>
	</message>
	<message name="runCredit">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Params" type="typens:TransactionRequestObject"/>
	</message>
	<message name="runCreditResponse">
		<part name="runCreditReturn" type="typens:TransactionResponse"/>
	</message>
	<message name="runCustomerTransaction">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="CustNum" type="xsd:integer"/>
		<part name="Details" type="typens:TransactionDetail"/>
		<part name="Command" type="xsd:string"/>
		<part name="PaymenthMethodID" type="xsd:integer"/>
	</message>
	<message name="runCustomerTransactionResponse">
		<part name="runCustomerTransactionReturn" type="typens:TransactionResponse"/>
	</message>	
	<message name="runQuickSale">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="RefNum" type="xsd:integer"/>
		<part name="Details" type="typens:TransactionDetail"/>
		<part name="AuthOnly" type="xsd:boolean"/>
	</message>
	<message name="runQuickSaleResponse">
		<part name="runQuickSaleReturn" type="typens:TransactionResponse"/>
	</message>
	<message name="runSale">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Params" type="typens:TransactionRequestObject"/>
	</message>
	<message name="runSaleResponse">
		<part name="runSaleReturn" type="typens:TransactionResponse"/>
	</message>
	<message name="runTransaction">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Parameters" type="typens:TransactionRequestObject"/>
	</message>
	<message name="runTransactionResponse">
		<part name="runTransactionReturn" type="typens:TransactionResponse"/>
	</message>
	<message name="runTransactionAPI">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Parameters" type="typens:FieldValueArray"/>
	</message>
	<message name="runTransactionAPIResponse">
		<part name="runTransactionAPIReturn" type="typens:TransactionResponse"/>
	</message>
	<message name="searchBatches">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Search" type="typens:SearchParamArray"/>
		<part name="MatchAll" type="xsd:boolean"/>
		<part name="Start" type="xsd:integer"/>
		<part name="Limit" type="xsd:integer"/>
	</message>
	<message name="searchBatchesResponse">
		<part name="searchBatchesReturn" type="typens:BatchSearchResult"/>
	</message>
	<message name="searchCustomerID">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="CustID" type="xsd:string"/>
	</message>
	<message name="searchCustomerIDResponse">
		<part name="searchCustomerIDReturn" type="xsd:integer"/>
	</message>
	<message name="searchCustomers">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Search" type="typens:SearchParamArray"/>
		<part name="MatchAll" type="xsd:boolean"/>
		<part name="Start" type="xsd:integer"/>
		<part name="Limit" type="xsd:integer"/>
	</message>
	<message name="searchCustomersResponse">
		<part name="searchCustomersReturn" type="typens:CustomerSearchResult"/>
	</message>
	<message name="searchMerchants">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Search" type="typens:SearchParamArray"/>
		<part name="MatchAll" type="xsd:boolean"/>
		<part name="Start" type="xsd:integer"/>
		<part name="Limit" type="xsd:integer"/>
	</message>
	<message name="searchMerchantsResponse">
		<part name="searchMerchantsReturn" type="typens:MerchantSearchResult"/>
	</message>
	<message name="searchTransactions">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Search" type="typens:SearchParamArray"/>
		<part name="MatchAll" type="xsd:boolean"/>
		<part name="Start" type="xsd:integer"/>
		<part name="Limit" type="xsd:integer"/>
	</message>
	<message name="searchTransactionsResponse">
		<part name="searchTransactionsReturn" type="typens:TransactionSearchResult"/>
	</message>
	<message name="searchTransactionsCustom">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="Search" type="typens:SearchParamArray"/>
		<part name="MatchAll" type="xsd:boolean"/>
		<part name="Start" type="xsd:integer"/>
		<part name="Limit" type="xsd:integer"/>
		<part name="FieldList" type="typens:stringArray"/>
		<part name="Format" type="xsd:string"/>
	</message>
	<message name="searchTransactionsCustomResponse">
		<part name="searchTransactionsCustomReturn" type="xsd:string"/>
	</message>
	<message name="updateCustomer">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="CustNum" type="xsd:integer"/>
		<part name="CustomerData" type="typens:CustomerObject"/>
	</message>
	<message name="updateCustomerResponse">
		<part name="updateCustomerReturn" type="xsd:boolean"/>
	</message>
	<message name="updateMerchant">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="MerchantID" type="xsd:integer"/>
		<part name="MerchantObject" type="typens:MerchantObject"/>
	</message>
	<message name="updateMerchantResponse">
		<part name="updateMerchantReturn" type="xsd:boolean"/>
	</message>
	<message name="voidTransaction">
		<part name="Token" type="typens:ueSecurityToken"/>
		<part name="RefNum" type="xsd:integer"/>
	</message>
	<message name="voidTransactionResponse">
		<part name="voidTransactionReturn" type="xsd:boolean"/>
	</message>
	<portType name="ueSoapServerPortType">
		<documentation>
			The USAePay Soap interface provides a collection of functions implementing
a large portion of merchant and reseller functionality.
		</documentation>
		<operation name="addCustomer">
			<documentation>
				Add a Stored Customer Record
			</documentation>
			<input message="typens:addCustomer"/>
			<output message="typens:addCustomerResponse"/>
		</operation>
		<operation name="addCustomerPaymentMethod">
			<documentation>
				Add Payment Method For a Customer
			</documentation>
			<input message="typens:addCustomerPaymentMethod"/>
			<output message="typens:addCustomerPaymentMethodResponse"/>
		</operation>
		<operation name="addMerchantApplication">
			<documentation>
				Add a new merchant application to the system
			</documentation>
			<input message="typens:addMerchantApplication"/>
			<output message="typens:addMerchantApplicationResponse"/>
		</operation>
		<operation name="bulkCurrencyConversion">
			<documentation>
				Convert multiple currency amounts in a single method call
			</documentation>
			<input message="typens:bulkCurrencyConversion"/>
			<output message="typens:bulkCurrencyConversionResponse"/>
		</operation>
		<operation name="captureTransaction">
			<documentation>
				Capture a queued transaction
			</documentation>
			<input message="typens:captureTransaction"/>
			<output message="typens:captureTransactionResponse"/>
		</operation>
		<operation name="closeBatch">
			<documentation>
				Close the batch specified by BatchNum
			</documentation>
			<input message="typens:closeBatch"/>
			<output message="typens:closeBatchResponse"/>
		</operation>
		<operation name="createBatchUpload">
			<documentation>
				Post a new batch of transactions to the gateway for processing.
			</documentation>
			<input message="typens:createBatchUpload"/>
			<output message="typens:createBatchUploadResponse"/>
		</operation>
		<operation name="currencyConversion">
			<documentation>
				Lookup currency conversion rate for single dollar amount.
			</documentation>
			<input message="typens:currencyConversion"/>
			<output message="typens:currencyConversionResponse"/>
		</operation>
		<operation name="deleteCustomer">
			<documentation>
				Delete the customer specified by CustNum
			</documentation>
			<input message="typens:deleteCustomer"/>
			<output message="typens:deleteCustomerResponse"/>
		</operation>
		<operation name="deleteCustomerPaymentMethod">
			<documentation>
				Delete Payment Method
			</documentation>
			<input message="typens:deleteCustomerPaymentMethod"/>
			<output message="typens:deleteCustomerPaymentMethodResponse"/>
		</operation>
		<operation name="deleteMerchant">
			<documentation>
				Request deletion of merchant account.
			</documentation>
			<input message="typens:deleteMerchant"/>
			<output message="typens:deleteMerchantResponse"/>
		</operation>
		<operation name="disableCustomer">
			<documentation>
				Disable the recurring billing for the customer specified by CustNum
			</documentation>
			<input message="typens:disableCustomer"/>
			<output message="typens:disableCustomerResponse"/>
		</operation>
		<operation name="enableCustomer">
			<documentation>
				Enable recurring billing for the customer specified by CustNum
			</documentation>
			<input message="typens:enableCustomer"/>
			<output message="typens:enableCustomerResponse"/>
		</operation>
		<operation name="getAccountDetails">
			<documentation>
				Retrieves Information about Merchants account
			</documentation>
			<input message="typens:getAccountDetails"/>
			<output message="typens:getAccountDetailsResponse"/>
		</operation>
		<operation name="getBatchStatus">
			<documentation>
				Retrieve the status of the batch specified by BatchNum
			</documentation>
			<input message="typens:getBatchStatus"/>
			<output message="typens:getBatchStatusResponse"/>
		</operation>
		<operation name="getBatchTransactions">
			<documentation>
				Retrieve transactions in the batch specified by BatchNum
			</documentation>
			<input message="typens:getBatchTransactions"/>
			<output message="typens:getBatchTransactionsResponse"/>
		</operation>
		<operation name="getBatchUploadStatus">
			<documentation>
				Retrieve the status of the currently running batch.
			</documentation>
			<input message="typens:getBatchUploadStatus"/>
			<output message="typens:getBatchUploadStatusResponse"/>
		</operation>
		<operation name="getCustomer">
			<documentation>
				Retrieve the customer details for the given CustNum
			</documentation>
			<input message="typens:getCustomer"/>
			<output message="typens:getCustomerResponse"/>
		</operation>
		<operation name="getCustomerHistory">
			<documentation>
				Pull details of all transactions run for CustNum
			</documentation>
			<input message="typens:getCustomerHistory"/>
			<output message="typens:getCustomerHistoryResponse"/>
		</operation>
		<operation name="getMerchant">
			<documentation>
				Retreive Merchant Details
			</documentation>
			<input message="typens:getMerchant"/>
			<output message="typens:getMerchantResponse"/>
		</operation>
		<operation name="getMerchantApplicationStatus">
			<documentation>
				Retrieve the status of a pending merchant application
			</documentation>
			<input message="typens:getMerchantApplicationStatus"/>
			<output message="typens:getMerchantApplicationStatusResponse"/>
		</operation>
		<operation name="getMerchantSummary">
			<documentation>
				Retreive Summary of Merchant Activity for the specified time span.
			</documentation>
			<input message="typens:getMerchantSummary"/>
			<output message="typens:getMerchantSummaryResponse"/>
		</operation>
		<operation name="getSupportedCurrencies">
			<documentation>
				Retrieve Supported Currencies
			</documentation>
			<input message="typens:getSupportedCurrencies"/>
			<output message="typens:getSupportedCurrenciesResponse"/>
		</operation>
		<operation name="getTransaction">
			<documentation>
				Retreive all information for the transactions specified by RefNum
			</documentation>
			<input message="typens:getTransaction"/>
			<output message="typens:getTransactionResponse"/>
		</operation>
		<operation name="getTransactionCustom">
			<documentation>
				Get Specific Transaction Details
			</documentation>
			<input message="typens:getTransactionCustom"/>
			<output message="typens:getTransactionCustomResponse"/>
		</operation>
		<operation name="getTransactionReport">
			<documentation>
				Pull a transaction report
			</documentation>
			<input message="typens:getTransactionReport"/>
			<output message="typens:getTransactionReportResponse"/>
		</operation>
		<operation name="getTransactionStatus">
			<documentation>
				Retrieve the current status of transaction specified by RefNum
			</documentation>
			<input message="typens:getTransactionStatus"/>
			<output message="typens:getTransactionStatusResponse"/>
		</operation>
		<operation name="pauseBatchUpload">
			<documentation>
				Pause a Batch Upload that is already running
			</documentation>
			<input message="typens:pauseBatchUpload"/>
			<output message="typens:pauseBatchUploadResponse"/>
		</operation>
		<operation name="postAuth">
			<documentation>
				Post an Offline Authorization
			</documentation>
			<input message="typens:postAuth"/>
			<output message="typens:postAuthResponse"/>
		</operation>
		<operation name="quickUpdateCustomer">
			<documentation>
				Update specified data for customer specified by CustNum
			</documentation>
			<input message="typens:quickUpdateCustomer"/>
			<output message="typens:quickUpdateCustomerResponse"/>
		</operation>
		<operation name="runBatchUpload">
			<documentation>
				Start a Paused Batch Upload
			</documentation>
			<input message="typens:runBatchUpload"/>
			<output message="typens:runBatchUploadResponse"/>
		</operation>
		<operation name="runCredit">
			<documentation>
				Run a Credit transaction
			</documentation>
			<input message="typens:runCredit"/>
			<output message="typens:runCreditResponse"/>
		</operation>
		<operation name="runCustomerTransaction">
			<documentation>
				Run a sale for a customer stored in the customer database
			</documentation>
			<input message="typens:runCustomerTransaction"/>
			<output message="typens:runCustomerTransactionResponse"/>
		</operation>
		<operation name="runQuickSale">
			<documentation>
				Run a sale based on the credit card details of a previous transaction.
			</documentation>
			<input message="typens:runQuickSale"/>
			<output message="typens:runQuickSaleResponse"/>
		</operation>
		<operation name="runSale">
			<documentation>
				Run a Sale
			</documentation>
			<input message="typens:runSale"/>
			<output message="typens:runSaleResponse"/>
		</operation>
		<operation name="runTransaction">
			<documentation>
				Runs a Transaction using the USAePay Transaction API
			</documentation>
			<input message="typens:runTransaction"/>
			<output message="typens:runTransactionResponse"/>
		</operation>
		<operation name="runTransactionAPI">
			<documentation>
				Provides a Soap wrapper for the USAePay Transaction API
			</documentation>
			<input message="typens:runTransactionAPI"/>
			<output message="typens:runTransactionAPIResponse"/>
		</operation>
		<operation name="searchBatches">
			<documentation>
				Search Settled Batches
			</documentation>
			<input message="typens:searchBatches"/>
			<output message="typens:searchBatchesResponse"/>
		</operation>
		<operation name="searchCustomerID">
			<documentation>
				Find the customer refnum (CustNum) associated with the userdefined CustID
			</documentation>
			<input message="typens:searchCustomerID"/>
			<output message="typens:searchCustomerIDResponse"/>
		</operation>
		<operation name="searchCustomers">
			<documentation>
				Search customer database
			</documentation>
			<input message="typens:searchCustomers"/>
			<output message="typens:searchCustomersResponse"/>
		</operation>
		<operation name="searchMerchants">
			<documentation>
				Search Active Merchants
			</documentation>
			<input message="typens:searchMerchants"/>
			<output message="typens:searchMerchantsResponse"/>
		</operation>
		<operation name="searchTransactions">
			<documentation>
				Search transactions and return transaction records
			</documentation>
			<input message="typens:searchTransactions"/>
			<output message="typens:searchTransactionsResponse"/>
		</operation>
		<operation name="searchTransactionsCustom">
			<documentation>
				Search Transactions and return specified fields
			</documentation>
			<input message="typens:searchTransactionsCustom"/>
			<output message="typens:searchTransactionsCustomResponse"/>
		</operation>
		<operation name="updateCustomer">
			<documentation>
				Replace all data for customer specified by CustNum
			</documentation>
			<input message="typens:updateCustomer"/>
			<output message="typens:updateCustomerResponse"/>
		</operation>
		<operation name="updateMerchant">
			<documentation>
				Update Merchant Details
			</documentation>
			<input message="typens:updateMerchant"/>
			<output message="typens:updateMerchantResponse"/>
		</operation>
		<operation name="voidTransaction">
			<documentation>
				Void the transaction specified by RefNum
			</documentation>
			<input message="typens:voidTransaction"/>
			<output message="typens:voidTransactionResponse"/>
		</operation>
	</portType>
	<binding name="ueSoapServerBinding" type="typens:ueSoapServerPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="addCustomer">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addCustomerPaymentMethod">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="addMerchantApplication">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="bulkCurrencyConversion">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="captureTransaction">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="closeBatch">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="createBatchUpload">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="currencyConversion">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteCustomer">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteCustomerPaymentMethod">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteMerchant">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="disableCustomer">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="enableCustomer">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getAccountDetails">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getBatchStatus">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getBatchTransactions">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getBatchUploadStatus">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getCustomer">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getCustomerHistory">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getMerchant">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getMerchantApplicationStatus">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getMerchantSummary">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getSupportedCurrencies">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getTransaction">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getTransactionCustom">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getTransactionReport">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getTransactionStatus">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="pauseBatchUpload">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="postAuth">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="quickUpdateCustomer">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="runBatchUpload">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="runCredit">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="runCustomerTransaction">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="runQuickSale">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="runSale">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="runTransaction">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="runTransactionAPI">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="searchBatches">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="searchCustomerID">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="searchCustomers">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="searchMerchants">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="searchTransactions">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="searchTransactionsCustom">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateCustomer">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateMerchant">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="voidTransaction">
			<soap:operation soapAction="urn:ueSoapServerAction"/>
			<input>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:usaepay" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="usaepayService">
		<port name="ueSoapServerPort" binding="typens:ueSoapServerBinding">
			<soap:address location="https://www.usaepay.com/soap/gate/9E5AADED"/>
		</port>
	</service>
</definitions>
